<h3 style="text-align: center;">Shopping Cart</h3>
<div class=" container-fluid" *ngIf="cart$ | async as cart">
  <div class="card-body">
  <p>
    You have {{ cart.totalItemsCount }} items in your shopping cart.</p>
  
    <p> <button class="float-right btn btn-primary home-btn" style="margin-left: 10px;" routerLink="/">Back to Home</button>
      
      <button *ngIf="cart.items.length" (click)="clearCart()" class="float-left btn btn-danger clear-btn ">Clear Shopping Cart</button>
    </p><br>
</div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center">Quantity</th>
        <th class="text-right">Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
        </td>
        <!--
        <td>
          <span class="btn btn-danger btn-sm" (click)="removeItem(item)">X</span> {{ item.title}}
        </td>-->
        <td>
          {{ item.title }}
        </td>
        <td>
          <app-product-quantity [product]="item" [shopping-cart]="cart"></app-product-quantity>
        </td>
        <td class="text-right">
          {{ item.totalPrice | currency:'INR':'symbol' }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">{{ cart.totalPrice | currency:'INR':'symbol' }}</th>
      </tr>
    </tfoot>
  </table>
  <a routerLink="/check-out" *ngIf="cart.items.length" class="btn btn-primary float-right">Check Out</a>
</div>
  