<div class=" card container-fluid" style="text-align: center;">
    
    <div class="card-body">
        <h1>We Recieved Your Order !</h1>
    
        
    <!--<img src="../../../../assets/tick.png" width="150px" height="150px">-->
    <h3>We Will Process It Within Next 24 Hrs.</h3>
    <h3>For Any Queries Contact <a href="tel:908417273"><br>+91 - 9080417273</a></h3>
    <button routerLink="/" class="btn btn-primary">Back To Home</button><br><br>
    <button routerLink="/my/orders" class="btn btn-secondary">My Orders</button>
</div>
</div>